.topblock{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background-color: white;
    button{
        color: red;
        border: none;
        background-color: inherit;
        font-size: 40px;
    }
}